<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <hr />
      </div>
    </div>
    <div class="row">
	    <div class="col-sm-6">
    		<p>
            I have 8+ years of experience as a software engineer, working with small startups and large organizations both private and public (government). I'm a proficient full-stack developer, my expertise is in building backend services.
        </p>
        <p>
           I enjoy building things and I really love to learn something totally new. I'm looking for a senior individual contributor role where I can take on on collaborative team leadership responsibilities, and gain experience with architecture and project management.
        </p>
      </div>
	    <div class="col-sm-6">
		    <h3 style="margin-top:0;">Highlights</h3>
		    <ul>
    			<li>
            Domain of the Full Software development life-cycle, including design, testing, and delivery processes.
    			</li>
          <li>
            Experience in the development and maintenance of high availability systems.
          </li>            
    			<li>
            Hands-on sysadmin tasks experience.
    			</li>
    			<li>
            High problem-solving skills
    			</li>
		    </ul>
	    </div>
    </div>
  </div>
</section>
