<section class="tout" id="interests">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Projects</h2>
                <hr />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <p>
                    My personal interests include:
                </p>
                <ul>
                    <li>
                        <b>Software Engineering</b>. I like to be updated on the trends of Software Engineering, I'm like to learn from online classes, and reading interesting articles on the web.
                    </li>
                    <li>
                        <b>Crypto</b>. I've been following the evolution of Bitcoin and Ethereum technologies in the last years. It's a very interesting topic and it's in its early years, there is still a lot to do.
                    </li>
                    <li>
                        <b>Gamming</b>. I enjoy playing video games and I've been also interested in the process of building a game from scratch, and what is behind a AAA game.
                    </li>
                </ul>
                <p>Other Things</p>
                <ul>
                    <li>
                        Muay Thai practitioner
                    </li>
                    <li>
                        Craft Beer enthusiast 
                    </li>
                </ul>
            </div>
            <div class="col-sm-6">
                <h3 style="margin-top:0">Last Experience</h3>
                <ul>
                    <li>
                        Operations Support Engineer - <a href="http://www.tangotelecom.com" target="_blank" rel="noopener noreferrer">Tango Telecom</a>
                    </li>
                    <li>
                        Senior Lead Developer - <a href="https://www.ine.mx" target="_blank" rel="noopener noreferrer">Instituto Nacional Electoral</a>
                    </li>
                    <li>
                        Lead Developer - <a href="https://cuallisys.com" target="_blank" rel="noopener noreferrer">CualliSyS</a>
                    </li>
                </ul>
                <h3 style="margin-top:0">Other Projects</h3>
                <ul>
                    <li>
                        Technical Consultor - <a href="https://www.gob.mx/salud/seguropopular" target="_blank" rel="noopener noreferrer">Comisión Nacional de Protección Social en Salud</a>

                    </li>
                    <li>
                        Java Instructor - <a href="http://www.mentoringit.com.mx/" target="_blank" rel="noopener noreferrer">Mentoring IT</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>